{% extends 'base.html' %}

{% block header %}
<center>  
<h1>{% block title %}Dzisiejsze mecze{% endblock %}</h1>
</center>
{% endblock %}




{% block content %}
      {% for match in matches %}
        <center>
          <b><h10>{{ match[1] }}</h10></b>
	  <a><h10>-</h10></a>
          <b><h10>{{ match[2] }}</h10></b>
          {% if g.user['username'] == "admin" %}
            <a class="action" href="{{ url_for('page.update', id=match['id']) }}">Edit</a>
          {% endif %}
          {% if current_hour < match['date3'] %}
            <a class="action" href="{{ url_for('page.bet', id=match['id']) }}">Obstawiaj</a>
          {% endif %}

          {% if not loop.last %}
          {% endif %}
        </center>

      {% endfor %}
</br></br></br>
<center><a>Twoje typy na dzisiejsze mecze to: </a></center>
{% for typ in typy %}
        <center>
          <b><h10>{{ typ[2] }}</h10></b>
	  <a><h10>-</h10></a>
          <b><h10>{{ typ[3] }}</h10></b>
          
	{% if not loop.last %}
          {% endif %}
        </center>

      {% endfor %}


{% endblock %}











