{% extends 'base.html' %}

{% block header %}
<center>
    <h1>{% block title %}Dzisiejsze mecze{% endblock %}</h1>
</center>
{% endblock %}

{% block content %}
    <!-- Lista dzisiejszych meczów -->
    {% for match in matches %}
        <center>
            <b>{{ match[1] }}</b> - <b>{{ match[2] }}</b>
            {% if current_hour < match['hour'] %}
                <a class="action" href="{{ url_for('page.bet', id=match['id']) }}">Obstawiaj</a>
            {% endif %}
            {% if g.user['username'] in ["Smolar", "Bolek", "Fryze"] %}
                <a class="action" href="{{ url_for('page.update', id=match['id']) }}">Wpisz wynik zakończonego meczu</a>
            {% endif %}
        </center>
        <br>
    {% endfor %}

    <br><br><br>
    <!-- Twoje typy na dzisiejsze mecze -->
    <center><a>Twoje typy na dzisiejsze mecze to:</a></center>
    {% for bet in your_bets %}
        <center>
            <b>{{ bet[4] }}</b> - <b>{{ bet[5] }}</b><br>
            Twój typ: <b>{{ bet[2] }}</b> - <b>{{ bet[3] }}</b>
        </center>
        <br>
    {% endfor %}

    <!-- Dodawanie meczu dla użytkownika Smolar -->
    {% if g.user['username'] == "Smolar" %}
        <center>
            <a class="action" href="{{ url_for('page.create') }}">Dodaj nowy mecz</a>
        </center>
    {% endif %}
{% endblock %}