{% extends 'base.html' %}

{% block header %}
<center>  
<h1>{% block title %}Zakłady na dzisiejsze mecze{% endblock %}</h1>
</center>
{% endblock %}




{% block content %}



<center>
<a>Zakłady innych osób na dane mecze pojawią się w momencie rozpoczęcia meczu.</a>
{% for match in matches%}

{% if current_hour2 < match[4] %}
<center><a><b> {{ match[1] }} - {{ match[2] }}</b></a></br>
<a> Liczba oddanych typów na mecz: {{ twoje_typy2[match[0]] }} / 21 </a></br>
<a><b>Brakuje typów od: </b></a></br>

{% for element in braki %}
<a>{{element}}</br>
{% endfor %}

</br></br>



</center>

{% else %}
<center>
<b><h10>{{ match[1] }}</h10></b>
<a><h10>-</h10></a>
<b><h10>{{ match[2] }}</h10></b>
</center>
<table class="table2">
<tr>
<th>Nazwa użytkownika</th>
<th>{{ match[1] }}</th>
<th>{{ match[2] }}</th>
</tr>
{% for typ in typy %}
{% if match[0] == typ[1] %}            
<tr>
        <td><b>{{ typ[4] }}</b></td>
        <td>{{ typ[2] }}</td>
        <td>{{ typ[3] }}</td>
</tr>
{% endif %}
{% endfor %}
{% endif %}

</table>
{% endfor %}

</center>


{% endblock %}











